/*Custom Fonts*/

@font-face {
  font-family: Centra;
  src: url("/../fonts/CentraNo2-Bold-BF646c26904e7ce.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("../fonts/CentraNo2-Medium-BF646c26901ce01.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("../fonts/CentraNo2-Book-BF646c26904e7ce.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: ; */
  /* height: 100%; */
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  /* color: #fff; */
  font-family: "Centra", sans-serif !important;
  /* background-image: url(../images/8609213_5853.jpg); */
  background-color: transparent;
  background-repeat: repeat-y;
  overflow: scroll;
  opacity: 75;
  background-size: cover;
  height: 100vh;
  /* background-position: relative; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

.custom-font {
  font-family: "Futura Bold", sans-serif;
  font-weight: 800;
}

.custom-color {
  color: #fff;
  background: hsla(214, 92%, 47%, 1);

  background: linear-gradient(270deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);
  
  background: -moz-linear-gradient(270deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);
  
  background: -webkit-linear-gradient(270deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0968E5", endColorstr="#091970", GradientType=1 );
}
.custom-text-color {
  /* color:#1e458a; */
  color:  #010C80;
}
