/*Custom Fonts*/

@font-face {
  font-family: Centra;
  src: url("/../fonts/CentraNo2-Bold-BF646c26904e7ce.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("../fonts/CentraNo2-Medium-BF646c26901ce01.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("../fonts/CentraNo2-Book-BF646c26904e7ce.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: ; */
  /* height: 100%; */
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: #fff;
  font-family: "Centra", sans-serif !important;
  background-image: url(../images/brian-patrick-tagalog-_8hGFBxWD0A-unsplash.jpg);
  background-color: transparent;
  background-repeat: repeat-y;
  overflow: scroll;
  opacity: 75;
  background-size: cover;
  height: 100vh;
  /* background-position: relative; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

.custom-font {
  font-family: 'Futura Bold',sans-serif;
  font-weight: 800;
}

.custom-color {
  color: #fff;
  background: hsla(165, 60%, 11%, 1);

  background: linear-gradient(
    135deg,
    hsla(165, 60%, 11%, 1) 0%,
    hsla(149, 54%, 31%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(165, 60%, 11%, 1) 0%,
    hsla(149, 54%, 31%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(165, 60%, 11%, 1) 0%,
    hsla(149, 54%, 31%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0B2C24", endColorstr="#247A4D", GradientType=1 );
}
